/* .app{
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #EDEDED;
} */
.app__body{

  display: flex;
  background-color: white;
  height: 100vh;
  width: 100vw;
  box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.75);
  overflow-x: scroll;
}